<h2><%= Comment.model_name.human %></h2>

<table>
    <% comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= comment.created_user_name_or_email %></td>
        <td><%= l comment.created_at %></td>
        <td><%= link_to t('views.common.destroy'), [commentable, comment], method: :delete, data: { confirm: t('views.common.delete_confirm') } if comment.user_id == current_user.id %></td>
      </tr>
    <% end %>
</table>

 


<br>

<%= render 'comments/comment_form', commentable: @commentable %>
